table {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid #00000055;
}

#testing {
    width: 355px;
}

#cases {
    width: 275px;
}

td, th {
    border: 1px solid #00000055;
    padding: 1px 3px;
    text-align: center;
}

col {
    width: 1%
}

.header-row {
    border-bottom: 2px solid #00000055;
    height: 58px;
}

.data-row {
    height: 40px;
}

.title-row {
    height: 30px;
    background-color: #00aae7;
}

#wrapper {
    width: 640px;
}

.good-diff, .bad-diff {
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

td .good-diff, td .bad-diff {
    padding: 0 5px;
}

.good-diff {
    background-color: green;
}

.bad-diff {
    background-color: red;
}
